.customTextField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #090909;
    color: #fbff4a;
}
