.searchBar {
    background-color: #090909;
    padding: 0 20px;
    width: 100%;
    max-width: 280px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.searchInput {
    background-color: #090909;
    color: white;
    padding: 8px;
    flex-grow: 1;
    outline: none;
    border: none;
}

.searchInput:focus {
    border: none;
    outline: none;
}

.searchIcon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
