.groupChatsList {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    padding: 20px;
    background-color: #121212;
    align-items: center;
}

.searchBarWrapper {
    margin-top: auto;
}

@media (max-width: 768px) {
    .groupChatsList {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .searchBarWrapper {
        width: 100%;
        order: -1;
        margin-bottom: 10px;
    }
}
