.chatViewWrapper {
    width: 70vw;
    height: 100%;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.profileName {
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #f5d300;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #f5d300;
}

.messageList {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: var(--tw-background-gray);
    width: 98%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 0;
}

.inputArea {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 5px;
}

.textField {
    flex: 1;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .topBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .inputArea {
        flex-direction: column;
        align-items: flex-start;
    }

    .textField {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
