.searchBar {
    background-color: var(--tw-background-gray);
    height: 40px;
    border-radius: 20px;
    align-items: center;
}

.searchInput {
    height: 40px;
    flex-grow: 1;
    outline: none; 
    border: none;
    margin-right: 10px;
    background-color: var(--tw-background-gray);
}

